<div class="footer">
  <div class="footer__disclaimer">
    <div class="contact__data">
      © 2024 by Stowarzyszenie Miłośników Militariów "Cobra Squad"
    </div>
    <div class="contact">
      <div class="contact__data">
        <span class="bi bi-phone icons">&nbsp;+48 792 314 240</span>
        <span class="bi bi-send icons"
          >&nbsp;cobra.squad.opole&#64;gmail.com</span
        >
      </div>
      <div class="icons__set">
        <span class="bi bi-facebook icons"></span>
        <span class="bi bi-instagram icons"></span>
        <span class="bi bi-youtube icons"></span>
        <span class="bi bi-tiktok icons"></span>
        <!-- <span class="bi bi-twitter icons"></span>
            <span class="bi bi-whatsapp icons"></span>
            <span class="bi bi-discord icons"></span>  -->
      </div>
    </div>
  </div>
  <div class="footer__disclaimer">
    <div>
      Informujemy, że podczas wydarzeń z udziałem Stowarzyszenia Miłośników
      Militariów "Cobra Squad" będą wykonywane, a następnie upubliczniane i
      przetwarzane zdjęcia lub filmy, na których może zostać uchwycony wizerunek
      osób obecnych. Biorąc udział w spotkaniu czy wydarzeniu organizowanym
      przez Stowarzyszenie Miłośników Militariów "Cobra Squad" uczestnicy oraz
      obserwatorzy wyrażają zgodę na upublicznianie i przetwarzanie ich
      wizerunków, a także ewentualnie innych danych osobowych. Jednocześnie
      zapewniamy, że dokładamy wszelkich starań, aby zadbać o bezpieczeństwo
      danych. Fotografie oraz filmy będą szyfrowane i filtrowane tak, aby nie trafiły
      w niepowołane ręce.
    </div>
  </div>
</div>
